<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Edição de Status de Produto</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form' %>

  <div class="col-md-12">
    <%= link_to status_produtos_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>