<h4>Mostrar Status de Produto</h4>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @status_produto.nome %></dd>
</dl>

<div class="page-header">
  <%= link_to status_produtos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_status_produto_path(@status_produto), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>