<div class="container"> 
  <h4>Edição de Tipo Lançamento</h4>

  <%= render 'form' %>

  <%= link_to @lancamento, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to lancamentos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>