<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Edição de Situação de Alegação de Pagamento</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <%= render 'form' %>
  <div class="col-md-12">
    <%= link_to status_alegacao_de_pagamentos_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
  </div>
</div>
