<div class="container"> 
  <h4>Edição MovimentacaoContum</h4>

  <%= render 'form' %>

  <%= link_to @movimentacao_contum, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to movimentacao_conta_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>