<div class="col-md-12 scroltable">
	<div class="col-md-12"> 
    <h4>Edição de IPs Autorizados a acessar a Documentação da Pagasó API</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form' %>

  <div class="col-md-12">
    <%= link_to @ip_api_autorizado, class: 'btn btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Mostrar
    <% end %>
    <%= link_to ip_api_autorizados_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
  </div>
</div>