<div class="container">
	<h1>Editing Query Balance</h1>

	<%= render 'form', query_balance: @query_balance %>

	<%= link_to 'Show', @query_balance %> |
	<%= link_to 'Back', query_balances_path %>
</div>