<div class="container"> 
  <h3>Edição Perfil de Usuário</h3>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form', partner: @perfil_usuario %>

  <%= link_to @perfil_usuario, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  
  <%= link_to perfil_usuarios_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>