<div class="col-md-12">
  <div class="col-md-12">
    <h4>Edição de Perfil</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form', partner: @perfil_usuario %>

  <%= link_to @perfil_usuario, class: 'btn btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  
  <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
</div>