<h4>Mostrar PerfilUsuario</h4>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @perfil_usuario.nome %></dd>
  <dt>Admin:</dt>
  <dd><%= @perfil_usuario.admin %></dd>
</dl>

<div class="page-header">
  <%= link_to perfil_usuarios_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_perfil_usuario_path(@perfil_usuario), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>