<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          Alteração de pacotes para um ou múltiplos produtos
        </div>
        <div class="card-body">
          <style type="text/css">
            .obrigatorio{
              border: 1px red solid
            }
          </style>
          <script>
            var validaInformacoesConsulta = function(form) {
              var validado = true
              if( $(form).find("input.requerido").length > 0 ){
                $(form).find("input.requerido").each(function() {
                  $(this).val($(this).val().trim())
                  $(this).removeClass("obrigatorio")
                  $(this).attr("placeholder", "")

                  if($(this).val() == ""){
                    $(this).addClass("obrigatorio")
                    $(this).attr("placeholder", "Campo obrigatório")
                    validado = false
                  }
                })
              }
              else if( $(form).find("input.opcional").length > 0 ){
                validado = false
                $(form).find("input.opcional").each(function() {
                  $(this).val($(this).val().trim())
                  $(this).removeClass("obrigatorio")
                  $(this).attr("placeholder", "")

                  if($(this).val() != ""){
                    validado = true
                    return
                  }
                })
              }

              if(!validado){
                var item = $($(form).find("input.opcional").get(1))
                item.addClass("obrigatorio")
                item.attr("placeholder", "Campo obrigatório")
              }

              return validado
            }
          </script>
          <form action="/dstv/alteracao-cliente-produtos" onsubmit="return validaInformacoesConsulta(this)" method="get">

            <div class="col-md-12">
              <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                <h3>Informe </h3>
                <div style="margin-left: 4%;">Número do Cliente</div>
                <input type="text" class="form-control requerido" value="" name="customer_number" placeholder="Customer Number" style="margin-left: 4%;max-width: 300px;">
              </div>
              <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: right;">
                <div style="display: inline-block;margin-bottom: 10px;">
                  <%= link_to 'javascript:history.go(-1)', class: 'btn btn-space btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
                      <span class="glyphicon glyphicon-arrow-left"></span>
                      Voltar
                    <% end %>
                </div>
                  <div style="display: inline-block;margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="Avançar">
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


