<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold;font-size: 20px;">
          Alteração de Pacote de Produtos (Upgrade/Downgrade)
        </div>
        <div class="card-body">
          <style type="text/css">
            .obrigatorio{
              border: 1px red solid
            }
          </style>
          <script>
            var validaInformacoesConsulta = function(form) {
              var validado = true
              $(form).find("input").each(function() {
                $(this).val($(this).val().trim())
                $(this).removeClass("obrigatorio")
                $(this).attr("placeholder", "")

                if($(this).val() == ""){
                  $(this).addClass("obrigatorio")
                  $(this).attr("placeholder", "Campo obrigatório")
                  validado = false
                }
              })

              return validado
            }
          </script>
          <form action="/dstv/alteracao-cliente-produtos" onsubmit="return validaInformacoesConsulta(this)" method="get">

            <div class="col-md-12">
              <div style="background-color: #F2F3F4;padding: 10px;color: #000;">
                <h3>Informe </h3>
                <div style="margin-left: 30px;">Smartcard/Device Number</div>
                <input type="text" class="form-control" value="3001492459" name="smartcard" placeholder="Smartcard/Device Number" style="margin-left: 30px;width: 300px;">
                <br>
                <div style="margin-left: 30px;">Número do cliente/Custumer Number</div>
                <input type="text" class="form-control" value="122364781" name="customer_number" placeholder="Número do cliente/Custumer Number" style="margin-left: 30px;width: 300px;">
              </div>
              <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;">
                <div style="float: right;">
                  <input type="submit" class="btn btn-success" style="width: 150px; text-align: center;" value="PRÓXIMO">
                </div>
                  <div style="float: right;">
                    <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px; text-align: center;" do %>
                      <span class="glyphicon glyphicon-list-alt"></span>
                      VOLTAR
                    <% end %>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


