<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <h1>Lista DSTV alteração de plano de cobrança alternando entre mensal e anual</h1>
  </div>
</div>