<div class="container scroltable">
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="container">
    <h1>Validação de cliente e verificação de valor e data de vencimento</h1>
    
  </div>
</div>