<div class="container">
	<h1>Editing Query Request</h1>

	<%= render 'form', query_request: @query_request %>

	<%= link_to 'Show', @query_request %> |
	<%= link_to 'Back', query_requests_path %>
</div>