  <b  style="margin: 15px">A UNITEL não oferece API para a atualização do Portfolio de Produtos.</b>
  <hr>
  <p  style="margin: 15px">Conforme a documentação de integração apresentada pela Unitel, <strong>'o catálogo de produtos será entregue ao parceiro em formato a acordar entre a Unitel e o parceiro e deverá ser registado no sistema do parceiro no formato que o parceiro designar'</strong>.</p>
  <hr>
  <%= link_to produtos_path(@partner), class: 'btn btn-danger', style:"margin: 15px;" do %>
    Cadastrar ou Consultar Produtos
  <% end %> 
