<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h3>Edição de Dados de Parceiros</h3>
	</div>

  	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form', partner: @partner %>

	<%= link_to @partner, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-info-sign"></span>
		Mostrar
	<% end %>
	<%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>
</div>