<div class="container"> 
  <h4>Edição de Subagente</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form', sub_agente: @sub_agente %>

</div>