<div class="col-md-12">
	<div class="col-md-12">
		<h3>Novo Subagente</h3>
	</div>
	<br><br>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->
	<br><br>
	<%= render 'form',  sub_agente: @sub_agente %>
</div>