<div class="container">

	<h3>Novo Subagente</h3>

	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form',  sub_agente: @sub_agente %>

</div>