<h4>Mostrar Status Alegação Pagamento</h4>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @status_alegacao_pagamento.id %></dd>
  <dt>Nome:</dt>
  <dd><%= @status_alegacao_pagamento.nome %></dd>

</dl>

<div class="page-header">
  <%= link_to status_alegacao_pagamentos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_status_alegacao_pagamento_path(@status_alegacao_pagamento), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>