<div class="container">
	<h1>Editing Topup Validation</h1>

	<%= render 'form', topup_validation: @topup_validation %>

	<%= link_to 'Show', @topup_validation %> |
	<%= link_to 'Back', topup_validations_path %>
</div>