<div class="container">
	<h1>Editando Topup Validation</h1>

	<%= render 'form', topup_validation: @topup_validation %>

	<%= link_to 'Mostrar', @topup_validation %> |
	<%= link_to 'Voltar', topup_validations_path %>
</div>