<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Edição de Cliente Unipessoal ou Empresa</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->
  <%= render 'form', uni_pessoal_empresas: @uni_pessoal_empresas %>
  <div class="col-md-12">
    <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>
  </div>
</div>