<div class="container"> 
  <h4>Edição UniPessoalEmpresa</h4>

  <%= render 'form' %>

  <%= link_to @uni_pessoal_empresa, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to uni_pessoal_empresas_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>