<h4>Mostrar UniPessoalEmpresa</h4>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @uni_pessoal_empresa.nome %></dd>
</dl>

<div class="page-header">
  <%= link_to uni_pessoal_empresas_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_uni_pessoal_empresa_path(@uni_pessoal_empresa), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>