<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h4>Cadastro de Novo Registo de Parâmetros</h4>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form' %>
	<div class="col-md-12">
		<%= link_to parametros_path, class: 'btn btn-primary' do %>
			<span class="glyphicon glyphicon-list-alt"></span>
			Voltar
		<% end %>
	</div>
</div>