<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h4>Mostrar Parâmetros de Integração</h4>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  
  <div class="col-md-12">
    <hr>
    <div class="col-md-12">
      <%= render "#{@parametro.partner.slug.to_s.downcase}_show" %>
      <hr>
      <div class="page-header">
        <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          Voltar
        <% end %>
        <%= link_to edit_parametro_path(@parametro), class: 'btn btn-warning', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Editar
        <% end %>
      </div>
    </div>
  </div>
</div>
