<div>
  <a href="<%= root_path %>"><h1 class=" menu_recarga">Recarga</h1></a>
  <a href="<%= saldos_path %>"><h1 class="active_menu menu_recarga">Saldo</h1></a>
  <div class="nav-scroller py-1 mb-2 ">
    <nav class="nav d-flex justify-content-between navbar-dark bg-warning menu-nav">
      <a href="#">SALDO</a>
    </nav>
  </div>
</div>