<div class="container">

	<h4>Novo Registro de Conta Corrente</h4>

	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form', habilita_salvar:true %>

	<%= link_to conta_correntes_path, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>

</div>