<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h3>Cadastro de Novo Registo de Conta Corrente</h3>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form', habilita_salvar:true %>

	<%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>
</div>