<div class="container"> 
  <h4>Edição Remuneração</h4>

  <%= render 'form' %>

  <%= link_to @remuneracao, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to remuneracaos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>