{
  "swagger": "2.0",
  "info": {
    "description": "Está é a documentação da API",
    "version": "1.0.5",
    "title": "Pagasó API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "rosi.volgarin@gmail.com"
    }
  },
  "host": "aoa.recarga.pagaso.co.ao",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Recarga",
      "description": "Para compras de créditos"
    },
    {
      "name": "Usuarios",
      "description": "Para itens relacionados a usuários"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/recarga/confirma.json": {
      "post": {
        "tags": [
          "Recarga"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tipo_venda",
            "description": "Ex: Unitel, Movicel ...",
            "required": true,
            "type": "string"
          },
          {
            "name": "unitel_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "movicel_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "dstv_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "zaptv_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "valor",
            "description": "Valor de compra",
            "required": true,
            "type": "float"
          },
          {
            "name": "movicel_telefone",
            "description": "Telefone recarga",
            "required": false,
            "type": "string"
          },
          {
            "name": "dstv_customer_number",
            "description": "DSTV customer number",
            "required": false,
            "type": "string"
          },
          {
            "name": "zaptv_cartao",
            "description": "ZAP Cartão",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitel_telefone",
            "description": "Unitel Telefone",
            "required": false,
            "type": "string"
          },
          {
            "name": "talao_sms",
            "description": "Talão SMS",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação de sucesso",
            "schema": {
              "$ref": "#/definitions/recarga"
            }
          },
          "401": {
            "description": "Ação não autorizada",
            "schema": {
              "$ref": "#/definitions/falha"
            }
          }
        }
      }
    },
    "/api/login.json": {
      "post": {
        "tags": [
          "Usuarios"
        ],
        "description": "Login com usuário e senha",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "description": "Email para login",
            "required": true,
            "type": "string"
          },
          {
            "name": "senha",
            "description": "Senha para login",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação de sucesso",
            "schema": {
              "$ref": "#/definitions/usuario"
            }
          },
          "401": {
            "description": "Ação não autorizada",
            "schema": {
              "$ref": "#/definitions/falha"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "recarga": {
      "type": "object",
      "properties": {
        "mensagem": { "type": "string" },
        "status": { "type": "string" }
      }
    },
    "falha": {
      "type": "object",
      "properties": {
        "mensagem": { "type": "string" },
        "status": { "type": "string" }
      }
    },
    "usuario": {
      "type": "object",
      "properties": {

        "id": { "type": "integer" },
        "nome": { "type": "string" },
        "email": { "type": "string" },
        "updated_at": { "type": "string" },
        "token": { "type": "string" }
      }
    }
  }
}