{
  "swagger": "2.0",
  "info": {
    "description": "Está é a documentação da API",
    "version": "1.0.5",
    "title": "Pagasó API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "rosi.volgarin@gmail.com"
    }
  },
  "host": "aoa.recarga.pagaso.co.ao",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Recarga",
      "description": "Para compras de créditos",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "Usuarios",
      "description": "Para itens relacionados a usuários"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/api/recarga/confirma.json": {
      "post": {
        "tags": [
          "Recarga"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tipo_venda",
            "description": "Ex: Unitel, Movicel ...",
            "required": true,
            "type": "string"
          },
          {
            "name": "unitel_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "movicel_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "dstv_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "zaptv_produto_id",
            "description": "{ID}- {Valor}",
            "required": false,
            "type": "string"
          },
          {
            "name": "valor",
            "description": "Valor de compra",
            "required": true,
            "type": "float"
          },
          {
            "name": "movicel_telefone",
            "description": "Telefone recarga",
            "required": false,
            "type": "string"
          },
          {
            "name": "dstv_customer_number",
            "description": "DSTV customer number",
            "required": false,
            "type": "string"
          },
          {
            "name": "zaptv_cartao",
            "description": "ZAP Cartão",
            "required": false,
            "type": "string"
          },
          {
            "name": "unitel_telefone",
            "description": "Unitel Telefone",
            "required": false,
            "type": "string"
          },
          {
            "name": "talao_sms",
            "description": "Talão SMS",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:pets",
              "read:pets"
            ]
          }
        ]
      }
    },
    "/api/login.json": {
      "post": {
        "tags": [
          "Usuarios"
        ],
        "description": "Login com usuário e senha",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "description": "Email para login",
            "required": true,
            "type": "string"
          },
          {
            "name": "senha",
            "description": "Senha para login",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "security": [
          {
            "api_key": [
              
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "Recarga": {
      "type": "object",
      "required": [
        "name",
        "photoUrls"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "name": {
          "type": "string",
          "example": "doggie"
        },
        "photoUrls": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "type": "string",
            "xml": {
              "name": "photoUrl"
            }
          }
        },
        "tags": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "tag"
            },
            "$ref": "#/definitions/Tag"
          }
        },
        "status": {
          "type": "string",
          "description": "pet status in the store",
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "xml": {
        "name": "Recarga"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "petId": {
          "type": "integer",
          "format": "int64"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "shipDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "string",
          "description": "Order Status",
          "enum": [
            "placed",
            "approved",
            "delivered"
          ]
        },
        "complete": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "Order"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "userStatus": {
          "type": "integer",
          "format": "int32",
          "description": "User Status"
        }
      },
      "xml": {
        "name": "User"
      }
    }
  }
}