<!-- Footer -------------------------------------- -->
<nav class="navbar navbar-wrapper navbar-dark bg-default">
    <div class="navbar-collapse row justify-content-left">
	    <ul class="nav navbar-nav">
	        <li>
	            <button type="button" class="btn btn-default navbar-btn btn-space mobile-botao" style="width: 280px; text-align: center;">
	              <copyright>
	                  &copy; 2016 - <%= Time.zone.now.year %> TIV TECNOLOGIA / PAGASÓ
	              </copyright>        
	            </button>
	        </li>
	    </ul>
    </div>
 </nav>
 <h3 style="font-size: 25px;margin-top: 10px;"></h3>
 <% if AMBIENTE_QA.present? %>
	 <footer class="bg-warning fixed-bottom align-middle w-25 p-3">
		 <h4>Ambiente de Q&A/Homologação</h4>
	</nav>
<% end %>
