<!-- Page Heading/Breadcrumbs -->
<div class="col-md-12">
  <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %>
      </li>
      <li class="active"><%= link_to 'Backoffice', backoffice_home_path %></li>
  </ol>
</div>
<!-- /.row -->