<a href="<%= root_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "welcome" %>active_menu<% end %> menu_recarga">Recarga</h1>
</a>
<a href="<%= saldos_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "saldos" %>active_menu<% end %> menu_recarga">Saldo</h1>
</a>
<a href="<%= vendas_resumido_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "vendas" && (params[:action] == "resumido" || params[:action] == "mostrar_resumido") %>active_menu<% end %> menu_recarga">Vendas</h1>
</a>


<% if @adm.id == Usuario::ROOT %>
	<div class="menuDstv">
		<a href="javascript:;" onclick="menuDSTV(this)">
			<h1 class="btn btn-sucess menu_recarga">Transações DSTV ⤵</h1>
		</a>
		<div class="jsItensMenu">
			<div><a href="/pagamentos_faturas_dstvs/resumido">Pagamentos de Faturas</a></div>
			<div><a href="/alteracoes_planos_dstvs/resumido">Alterações de Pacotes de Produtos ou Planos de Cobrança</a></div>
		</div>
	</div>

	<a href="/vendas/consolidado-dstv">
		<h1 class="btn btn-sucess menu_recarga <% if params[:controller] == "vendas" && params[:action] == "consolidado_dstv" %>active_menu<% end %>">Consolidado</h1>
	</a>
<% end %>

<% if usuario_logado.admin? || usuario_logado.operador? || usuario_logado.agente? %>
	<% if PerfilUsuario.tem_acesso?(usuario_logado, :BackofficeController, :index) %>
	<a href="<%= backoffice_index_path %>">
	  	<h1 class="btn btn-sucess <% if params[:controller] == "backoffice" && params[:action] == "index" %>active_menu<% end %> menu_recarga btn-backoffice">Backoffice</h1>
	</a>
	<% end %>
<% end %>
