<a href="<%= root_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "welcome" %>active_menu<% end %> menu_recarga">Recarga</h1>
</a>
<a href="<%= saldos_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "saldos" %>active_menu<% end %> menu_recarga">Saldo</h1>
</a>
<a href="<%= vendas_resumido_path %>">
  <h1 class="btn btn-sucess <% if params[:controller] == "vendas" && (params[:action] == "resumido" || params[:action] == "mostrar_resumido") %>active_menu<% end %> menu_recarga">Vendas</h1>
</a>
<% if PerfilUsuario.tem_acesso?(usuario_logado, :BackofficeController, :index) %>
<a href="<%= backoffice_index_path %>">
  	<h1 class="btn btn-sucess <% if params[:controller] == "backoffice" && params[:action] == "index" %>active_menu<% end %> menu_recarga btn-backoffice">Backoffice</h1>
</a>
<% end %>
