<a href="<%= root_path %>">
  <h1 class="<% if params[:controller] == "welcome" %>active_menu<% end %> menu_recarga">Recarga</h1>
</a>
<a href="<%= saldos_path %>">
  <h1 class="<% if params[:controller] == "saldos" %>active_menu<% end %>  menu_recarga">Saldo</h1>
</a>
<a href="<%= vendas_resumido_path %>">
  <h1 class="<% if params[:controller] == "vendas" && (params[:action] == "resumido" || params[:action] == "mostrar_resumido") %>active_menu<% end %> menu_recarga">Vendas</h1>
</a>