<div>
  <a href="<%= root_path %>"><h1 class="active_menu menu_recarga">Recarga</h1></a>
  <a href="<%= saldo_path %>"><h1 class="menu_recarga">Saldo</h1></a>
  <div class="nav-scroller py-1 mb-2 ">
    <nav class="nav d-flex justify-content-between navbar-dark bg-warning">
      <a class="p-2 text-dark" href="#">Unitel</a>
      <a class="p-2 text-dark" href="#">Movicel</a>
      <a class="p-2 text-dark" href="#">DSTV</a>
      <a class="p-2 text-dark" href="#">ZAP TV</a>
    </nav>
  </div>
  <%= render 'shared/jumbotron' %>
</div>