<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h4>Inclusão de Registo Alterações de Planos DSTV</h4>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form' %>

	<%= link_to alteracoes_planos_dstvs_path, class: 'btn btn-primary' do %>
		<span class="glyphicon glyphicon-arrow-left"></span>
		Voltar
	<% end %>
</div>