<div class="container">
	<h3>Nova Actividade Económica</h3>

	<!-- Page Heading/Breadcrumbs -->
	<%= render :partial => 'shared/header_backoffice' %>
	<!-- /.row -->

	<%= render 'form', industry: @industry %>

	<%= link_to industries_path, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>
</div>