<div class="container">
	<h3>Editando Sub Distribuidor</h3>

	<%= render 'form', sub_distribuidor: @sub_distribuidor %>

	<%= link_to 'Mostrar', @sub_distribuidor %> |
	<%= link_to 'Voltar', sub_distribuidors_path %>
</div>