<div class="container">
	<h3>Editando SubDistribuidor</h3>

	<%= render 'form', sub_distribuidor: @sub_distribuidor %>

	<%= link_to @sub_distribuidor, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-info-sign"></span>
		Mostrar
	<% end %>
	<%= link_to sub_distribuidors_path, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>

</div>