<div class="container">

	<h1>Editing Topup Recarga</h1>

	<%= render 'form', topup_recarga: @topup_recarga %>

	<%= link_to 'Show', @topup_recarga %> |
	<%= link_to 'Back', topup_recargas_path %>

</div>