<div class="container scroltable">
  <div class="container">
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="text-align: center">
          <img style="width: 24px;" src="https://www.pagaso.co.ao/<%= asset_path('icone.png') %>"><br>
          Confirmação de Transação<br>
          AFRICELL<br>
          <hr>
          <% if @retorno_confirmacao.present? %>
            Data transacao: <b><%= @retorno_confirmacao["ReceiveDate"].to_date.strftime("%d/%m/%Y %H:%M:%S") %></b><br>
            DealerMSISDN: <b><%= @retorno_confirmacao["DealerMSISDN"] %></b><br>
            Status: <b><%= @retorno_confirmacao["Status"] %></b><br>
          <% else %>
            Transação não localizada com os parâmetros que foram fornecidos
          <% end %>
          <hr>
          <b>Pagasó - Sistemas de Pagamentos</b>
        </div>
      </div>
    </div>
  </div>
</div>

