<div class="container scroltable">
  <div class="container">
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px; font-weight: bold; text-align: center">
          <ul style="list-style-type: none;">
            <li><h2>Pagasó</h2></li>
            <li><%= title %></li>
            <li>Africell</li>
          </ul>
        </div>
        <div class="col-md-12" style="text-align: left">
          Logo da Pagasó
          <hr>
          Nome do Usuário
          Data e Hora da Recarga
          <hr>
          RECARGA ELECTRÓNICA AFRICELL
          Nr Telemóvel
          Produto
          Valor
          ID da Transação (UUID)
          <hr>
          Pagasó Facilita Bué!
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>