<div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <div class="col-md-12">
    
    <div class="card" style="margin-top: 5px;">
      <div class="card-header">
        <div class="col-md-12" style="margin-bottom: 20px;font-weight: bold">
          A SUA REFERÊNCIA PARA PAGAMENTO
        </div>
        <div class="card-body">
          <% if usuario_logado.admin? || usuario_logado.operador? %>
              <div><b>Login do Usuário:</b> <%= usuario_logado.login %></div><br>
              <div><b>Nome do Usuário :</b> <%= usuario_logado.nome.camelize rescue usuario_logado.nome.camelize %></div><br>
          <% end %>
          <div><b>Entidade :</b> 99674</div><br>
          
          <div><b>Referência :</b> 
          <% if params[:nro_pagamento_referencia].blank? %>
            Definir
          <% else %> 
            <% params[:nro_pagamento_referencia] %>
          <% end %>
          </div><br>

          <div class="saveCancelbts" style="padding-top: 25px;padding-bottom: 25px;text-align: left;">
            <div style="display: inline-block;margin-bottom: 10px;">
              <%= link_to root_path, class: 'btn btn-space btn-danger', style: "width: 150px;text-align: center;margin-left: 0px;" do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                VOLTAR
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
