<br>
<h3>Olá <%= @usuario.nome %></h3>
<hr>
<p>
	Parceiro #{partner.id} categoria: #{categoria.to_s.downcase}
	Seu relatório ZAP foi processado com sucesso: <a href="<%= @rel.arquivo %>" target="_blank">Clique aqui para abrir o relatório</a>
</p>