<div class="container">

	<h4>Novo <%= singular_table_name.camelize %></h4>

	<!-- Page Heading/Breadcrumbs -->
  	<%%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%%= render 'form' %>

	<%%= link_to <%= index_helper %>_path, class: 'btn btn-primary' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<%% end %>

</div>