<h1>Novo <%= singular_table_name %></h1>
<div class="container">
	<%= render 'form' %>

	<%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Voltar
	<%% end %>
</div>