<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h4>Cadastro de Novo Sequencial DSTV</h4>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form' %>

	<%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>

</div>