<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Detalhe de Registo de Tipo de Transação</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @tipo_transacao.nome %></dd>
    </dl>

    <div class="page-header">
      <%= link_to tipo_transacaos_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
      <%= link_to edit_tipo_transacao_path(@tipo_transacao), class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
    </div>
  </div>
</div>