<div class="container">
	<h3>Editando Return Code Api</h1>

	<%= render 'form', return_code_api: @return_code_api %>

	<%= link_to 'Mostrar', @return_code_api %> |
	<%= link_to 'Voltar', return_code_apis_path %>
</div>