<div class="container">
	<h1>Editing Return Code Api</h1>

	<%= render 'form', return_code_api: @return_code_api %>

	<%= link_to 'Show', @return_code_api %> |
	<%= link_to 'Back', return_code_apis_path %>
</div>