<h4>Novo Produto</h4>
<div class="container">
  <%= render 'form' %>
  <%= link_to produtos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>