<div class="col-md-12 scroltable">
	<div class="col-md-12">
		<h3>Cadastro de Produto</h3>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form',  produto: @produto %>

	<%= link_to produtos_path, class: 'btn btn-primary' do %>
    	<span class="glyphicon glyphicon-list-alt"></span>
    	Voltar
  	<% end %>

</div>