<div class="col-md-12">

  <div class="col-md-12">
    <h4>Edita Tipo de Perfil Master</h4>
  </div>
  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form' %>

  <%= link_to master_profiles_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>