<h4>Novo Tipo de Perfil Principal</h4>

<!-- Page Heading/Breadcrumbs -->
<%= render :partial => 'shared/header_backoffice' %>
<!-- /.row -->
  
<div class="container">
  <%= render 'form' %>

  <%= link_to master_profiles_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>