<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Descrição:</strong>
	  <%= @master_profile.description %>
	</p>

	<%= link_to 'Editar', edit_master_profile_path(@master_profile) %> |
	<%= link_to 'Voltar', master_profiles_path %>
</div>