<div class="container"> 
  <h4>Edição EmailHistoricoEnvio</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form' %>

  <%= link_to @email_historico_envio, class: 'btn btn-danger', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to email_historico_envios_path, class: 'btn btn-primary', style: "width: 150px;text-align: center;margin-right: 0px;" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
</div>