<div class="col-md-12">
	<div class="col-md-12">
		<h3>Cadastro de Novo Usuário</h3>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form', usuario: @usuario %>

<% debugger %>

	<% if !usuario_logado.admin? || !usuario_logado.operador? %>
    	<div class="form-group col-sm-12">
    	<label><strong>Após o cadastro, a equipa de Backoffice da Pagasó concluirá a parametrização do usuário e liberará o acesso!</strong></label>
      	<br>
    <% end %>

	<%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
    	<span class="glyphicon glyphicon-list-alt"></span>
    	Voltar
  	<% end %>

</div>