<div class="col-md-12 scroltable">
	<div class="col-md-12">
    <h3>Edição de Dados de País</h3>
  </div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form' %>

  <div class="col-md-12">
    <%= link_to @country, class: 'btn btn-danger' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Mostrar
    <% end %>
    <%= link_to countries_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  </div>
</div>