<div class="container">

  <h4>Mostrar LoopLog</h4>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="container">
    <dl class="dl-horizontal">
      <dt>Request:</dt>
      <dd><%= @loop_log.request %></dd>
      <dt>Response:</dt>
      <dd><%= @loop_log.response %></dd>
    </dl>

    <div class="page-header">
      <%= link_to "/movicel_loops/#{@loop_log.movicel_loop_id}/loop_logs", class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>