/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tether";

.alert-dismissable .close, .alert-dismissible .close{
  top: 0px;
  right: 0px;
}

.alert > p, .alert > ul{
  list-style-type: none;
}

.btn-login{
  display: block;margin-top: 10px;
  height: 35px;
}

.erro_pagamento{
  margin-bottom: 20px;font-size: 16px;border: 1px solid red;padding: 20px;border-radius: 10px;color: red;
}

.btn-voltar{
  text-align:center;
  padding: 8px;
  text-decoration: none!important;
}

// btn-space - espaço entre botões
.menu_recarga{
  display: inline-block;
  background: #FFCC00;
  padding: 10px;
  margin-bottom: 0px;
  color: #000;
  font-size: 15px;
  width: 150px;
  text-align: center;
}

.btn-backoffice{
  float: right;
  margin-right: 0px;
  background: #302f6d;
  color: #fff;
}

.btn-backoffice:hover{
  color: #e0e0e0;
}

.jsItensMenu{
  border: 1px solid #ececec;
  z-index: 999;
  background: #fff;
}

.jsItensMenu div{
  padding: 5px;
  border-bottom: 1px solid #ececec;
}

.active_menu{
  background: #C8102E;
  color: #fff;
}

.btn-space {
  margin-right: 15px;
}

body, .btn, .h4, h4, imput, select, textarea, .form-control{
  font-size: 13px!important;
}

#error_explanation{
  color: red;
}

.form-control{
  height: 50px!important;
}

.form-inputs{
  margin-bottom: 32px!important;
}

label{
  font-weight: normal!important;
}

.justify-content-between, .card-header:first-child{
  padding: 10px;
}

.card-header:first-child{
  padding: 15px;
}

.container h3, .container h4{
  padding: 15px;
}

::-webkit-input-placeholder { /* Edge */
  color: #a9a4a4!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a9a4a4!important;
}

::placeholder {
  color: #a9a4a4!important;
}

.seta-cima:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 

  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #ababab;
}

.jconfirm-buttons .btn-default{
  font-size: 14px!important;
  width: 200px!important;
}

.jconfirm-title{
  color: red!important;
}

.apple_pagination {
  margin-bottom: 20px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.usuario_logado_mobile{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  display: none;
}

.icone-menu{
  opacity: 0.5;
}

.menu-ativo{
  opacity: 1;
}

.mobile-container-icones{
  margin-bottom: 20px;
}

.scroltable{
  overflow: auto;
}

.g-recaptcha{
  overflow: hidden;
}

@media (max-width: 600px) 
{
  .mobile-botao{
    width: 100%;
  }
  .mobile-container-icones{
    margin-right: 0px!important;
    padding-right: 0px!important;
  }
  .menu-icon{
    display: inline-block;
    width: 111px!important;
    margin: 0px!important;
    padding: 0px!important;
  }
  .menu-icon .icone-menu{
    width: 100px;
  }
  .menu_recarga{
    margin-top: 1px;
    width: 100%;
  }
  .logo{
    width: 90px;
  }
  .usuario_logado_desktop{
    display: none!important;
  }
  .usuario_logado_mobile{
    display: block!important;
  }
  .mobile-menu{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  #content .container.scroltable{
    margin:0px!important;
    padding:0px!important;
  }

  #content .container.scroltable .container{
    margin:0px!important;
    padding:0px!important;
  }

  #content .container.scroltable .col-md-12{
    margin:0px!important;
    padding:0px!important;
  }

  #content .container.scroltable .saveCancelbts{
    width: 100%;
  }

  #content .container.scroltable h3{
    margin:0px!important;
    padding:0px!important;
    margin-top:20px!important;
  }
  
  #content .container.scroltable .card-body{
    margin:0px!important;
    padding:0px!important;
  }

  #content .container.scroltable .card-body input{
    margin:0px!important;
  }

  #content .container.scroltable .card-body .col-md-12 > div{
    margin:0px!important;
    margin-top:20px!important;
    padding:0px!important;
  }

  #content .container.scroltable .card-body .col-md-12 > div > div{
    margin-left:0px!important;
    margin-top:10px!important;
    padding:0px!important;
  }

}
