/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tether";

// btn-space - espaço entre botões
.menu_recarga{
  display: inline-block;
  background: #FFCC00;
  padding: 10px;
  margin-bottom: 0px;
  color: #000;
  font-size: 15px;
  width: 150px;
  text-align: center;
}

.active_menu{
  background: #C8102E;
  color: #fff;
}

.btn-space {
  margin-right: 15px;
}

body, .btn, .h4, h4, imput, select, textarea, .form-control{
  font-size: 13px!important;
}

#error_explanation{
  color: red;
}

.form-control{
  height: 50px!important;
}

.form-inputs{
  margin-bottom: 32px!important;
}

label{
  font-weight: normal!important;
}

.justify-content-between, .card-header:first-child{
  padding: 10px;
}

.card-header:first-child{
  padding: 15px;
}

.container h3, .container h4{
  padding: 15px;
}

::-webkit-input-placeholder { /* Edge */
  color: #a9a4a4!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a9a4a4!important;
}

::placeholder {
  color: #a9a4a4!important;
}

.seta-cima:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 

  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #ababab;
}

.jconfirm-buttons .btn-default{
  font-size: 14px!important;
  width: 200px!important;
}

.jconfirm-title{
  color: red!important;
}

