
* {
    margin: 0 !important;
    padding: 0 !important;
}

#page {
    margin-left: 0px;
    size: 3.14in 2.75in portrait;
    text-align: center;
  }
  
#page :left {
    margin-left: 3cm;
  }
 
#page ul{
  padding: 0px!important;
}