<div class="container"> 
  <h4>Edição Canal de Venda</h4>

  <%= render 'form' %>

  <%= link_to @canal_venda, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to canal_vendas_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>