<p>Somatória de acordo a busca</p>
<h4>
  <% 
  cf = Venda.total_acesso_consolidado(@vendas_graficos) 
  %>
  Total Geral: <strong><%= cf.present? ? "#{number_to_currency(cf.valor_total, :unit => "KZ")} - #{cf.created_at.strftime("%d/%m/%Y %H:%M:%S")}" : "Processando ..." %></strong>
</h4>
<h4>
  Total de Lucro: <strong><%= cf.present? ? "#{number_to_currency(cf.total_lucro, :unit => "KZ")} - #{cf.created_at.strftime("%d/%m/%Y %H:%M:%S")}" : "Processando ..." %></strong>
</h4>
<h4>
  Total de Custo: <strong><%= cf.present? ? "#{number_to_currency(cf.total_custo, :unit => "KZ")} - #{cf.created_at.strftime("%d/%m/%Y %H:%M:%S")}" : "Processando ..." %></strong>
</h4>