<div class="col-md-12">
  <div class="col-md-12">
    <h3>Detalhes da Venda</h3>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->  

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <% if @venda.partner.id == Partner.ende.id %>
        <% infos = Ende.informacoes_parse(@venda.response_get, EndeUniqNumber.find(@venda.request_id)) %>
        <% infos.each do |info|%>
          <%= render "/ende/venda_recibo", info: info, title: "Recibo de Venda de Crédito", venda: @venda %>
        <% end %>
      <% elsif @venda.partner.id == Partner.elephantbet.id %>
        <% info = JSON.parse(@venda.response_get) %>
        <%= render "/elephant_bet/venda_recibo", info: info, title: "Confirmação de Transação", venda: @venda, url: "/vendas/#{@venda.id}/mini" %>
      <% end %>
    </dl>

    <div class="page-header">
      <%= link_to 'javascript:history.go(-1)', class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Voltar
      <% end %>
    </div>
  </div>
</div>