<div class="col-md-12 scroltable">
	<div class="col-md-12"> 
    <h4>Edição de Códigos de ERRO Pagasó</h4>
</div>
  <!-- Page Heading/Breadcrumbs -->
  <%= render :partial => 'shared/header_backoffice' %>
  <!-- /.row -->

  <%= render 'form', municipio: @pagaso_erro_codigo %>

  <%= link_to @pagaso_erro_codigo, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <%= link_to 'javascript:history.go(-1)', class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>
