<!-- Page Content -->
<div class="container-fluid desk">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Backoffice
                <small>Área Restrita</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %></li>
                <li class="active">Serviços</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12">
            <% PerfilUsuario.menu(usuario_logado).each do |secao, itens| %>
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-warning"><%= secao %></span></h3>
                    </div>
                    <ul class="list-group">
                        <% itens.each do |item| %>
                            <li class="list-group-item">
                                <% if item.link.present? %>
                                    <%= link_to item.nome, item.link %>
                                <% else %>
                                    <%= link_to item.nome, controller: item.controller.remove("Controller").underscore, action: item.action %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
