<!DOCTYPE html>
<html>
    <head>
        <title>Pagasó - Facilita Bué - Angola</title>
        <meta charset="UTF-8">
        <%= stylesheet_link_tag "ende_recibo_mini_print", :media => "print" %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>

