<div class="container">	
	<h3>Edição de Matriz de Usuário</h3>

	<%= render 'form', matrix_user: @matrix_user %>

	<%= link_to 'Mostrar', @matrix_user %> |
	<%= link_to 'Voltar', matrix_users_path %>
</div>