<div class="col-sm-12">
	<div class="col-sm-12">
		<h3>Nova Matriz de Usuário</h3>
	</div>
	<br>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form', matrix_user: @matrix_user %>

	<div class="col-sm-12">
		<%= link_to matrix_users_path, class: 'btn btn-danger' do %>
			<span class="glyphicon glyphicon-list-alt"></span>
			Voltar
		<% end %>
	</div>
</div>
