<div class="col-md-12">
	<div class="col-md-12">
		<h3>Nova Situação de Usuário / Cliente</h3>
	</div>
	<!-- Page Heading/Breadcrumbs -->
  	<%= render :partial => 'shared/header_backoffice' %>
  	<!-- /.row -->

	<%= render 'form',  status_cliente: @status_cliente %>

	<%= link_to status_clientes_path, class: 'btn btn-danger' do %>
		<span class="glyphicon glyphicon-list-alt"></span>
		Voltar
	<% end %>

</div>