<h4>Mostrar StatusCliente</h4>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @status_cliente.nome %></dd>
</dl>

<div class="page-header">
  <%= link_to status_clientes_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_status_cliente_path(@status_cliente), class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>