<h4>Novo Dispositivo</h4>
<div class="container">
  <%= render 'form' %>

  <%= link_to dispositivos_path, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
</div>